---
import CcIcon from "./_icons/cc.svg";
import ByIcon from "./_icons/by.svg";
import NdIcon from "./_icons/nd.svg";
import NcIcon from "./_icons/nc.svg";
import NcEuIcon from "./_icons/nc-eu.svg";
import SaIcon from "./_icons/sa.svg";
import ZeroIcon from "./_icons/zero.svg";

interface Props {
    type: string
}

const {type} = Astro.props;

function is(t: string) {
    return type.match(`${t}-?`);
}

const is_cc = type.startsWith("cc");
---

{is_cc ?
    (<CcIcon class="size-6" />
    <>
        {is("by") && <ByIcon class="size-6" /> }
        {is("sa") && <SaIcon class="size-6" />}
        {is("nd") && <NdIcon class="size-6" />}
        {is( "0") && <ZeroIcon class="size-6" />}
        {is("nc") &&
            <>
                {is("eu") ? <NcEuIcon class="size-6" /> : <NcIcon class="size-6" />}
            </>
        }
    </>) :
    <span class="block">Licensed under <span class="capitalize">{type}</span></span>
}


